.Navigation {
    background-color: #efb815;
    padding: 8px;
}

.Navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.Navigation ul li {
    margin-right: 16px;
}

.Navigation ul li a {
    text-decoration: none;
    color: #503606;
    font-weight: bold;
}

