.Book {
    display: flex;
    flex-direction: row;
}

.Book-wrapper {
    box-shadow: 2px 4px 16px 4px #ddd;
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

.book-title {
    margin-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
}
.book-author {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #333;
}

.book-rating {
    color:rgb(237, 184, 87)
}
.book-price {
    font-weight: bold;
    margin-top: auto;
}